<!-- 

<div class ="supercontainer" >
<div class ="home_buttons">
<form>
    <button formaction="/users/sign_in">Sign In</button>
    <button formaction="/users/sign_up">Sign Up</button>
</form>
</div>
<div class ="homepage_about">
	<div>
	Book your Jampad slots Quickly	
	</div>
	
<div>
	Collaborate with others	

	</div>
	

	<div>
		
    Get News about Music Events  

	</div>



</div>




</div>



<style type="text/css">



.supercontainer{

	display: flex;

flex-direction: column;
	width: auto;
     height:500px;
    
    
}

.homepage_about{
	display: flex;
	flex-direction: row;
	align-content: center;
	


}
	
.homepage_about div{
	display: flex;
	justify-content: center;
	width: 350px;
	padding-top:50px; 
	padding-right: 20px;
	padding-left: 20PX;

    bottom: 10px; 
    line-height: 50px;
       
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;

   
     /* background: linear-gradient(darkviolet, red); */
       background: linear-gradient(#1ab696 ,#501c77);
  -webkit-background-clip: text; /* browser specific property */
  -webkit-text-fill-color: transparent;





}

.home_buttons{


	padding-top: 30px;
}

.home_buttons form{
	display: flex;
justify-content: center;





}

.home_buttons form button{
	height: 100px;
    width:300px;
    background-color:#49535a;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
     font-weight: 800;
    
     border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); 
}





</style> -->




<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" id="close">×</span>
  

  <div id="form_show"> </div>
 

</div>







<header class="start_page">

<section id="logo">
	

LoGo
</section>


<nav>
	
<ul>
	 <li>  <a href="jampad_home">Jampads</a>
    </li>

	<li>
		People
	</li>

	<li>
		Events
	</li>
</ul>


</nav>
	

</header>


<div class="first_container">


 <div id="page_description">
	
		 <div>
     Place where Musicians are Inter-connected!
   </div>

   <div>
   Giving Musicians a complete musical Profile
   </div>

   <div>
   Create Profile to Collaborate with other Artists.
   </div>

   <div>
   Book your Jampad slots directly 
   </div>
</div> 

<div class ="home_buttons">


<div id = "login">
    <a href="/users/sign_in" , data-remote = "true">Sign In</a>

    </div>
    <div id = "login">

    <a href ="/users/sign_up" , data-remote = "true">Sign Up</a>
</div>
</div>

	
</div>






<div class="second_container">

<div id="About_info">

<p class ="Title">

Easiest way to Book your Jampad Slots

</p>
	
	



<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>




</div>

<div id="About_info_image">
	

</div>


	
</div>

<div class="third_container">


<div id="About_info_image">


</div>

<div id="About_info">

<p class ="Title">

Get to know other Musicians.

</p>
	
	



<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>




</div>




	
</div>

<div class="fourth_container">

<div id="About_info">

<p class ="Title">

Stay updated about musical events.

</p>
	
	



<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>




</div>

<div id="About_info_image">
	

</div>


	
</div>


<footer class="page-footer">

 

<div class="footer-copyright">
            
            © 2017 Copyright of M.I.C.
          
            
          </div>
        </footer> 









<style type="text/css">

	
.start_page {

	position: fixed;

	width: 100vw;



display: flex;

background-color: white;

 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

color: white;

border-bottom: 1px solid white;



    font-family: sans-serif;
    font-size: 40px;
     font-weight: 800;

}

nav ul li {display: flex;

	align-items: center;
 
	height: 30px;
	margin: 10px;
	padding: 5px;

	background-color: #6cc7b5;
    font-family: sans-serif;
    font-size: 18px;
     font-weight: 400;
     color: white;
     border-radius: 5px;
}
#logo{


	color: #6cc7b5;
}

nav {

	margin-right: 80px;
}

nav ul li:hover {


	background-color: white;
	color:  #6cc7b5;


}


.start_page nav ul li a{color: white;
	text-decoration: none;

}

.start_page nav ul li a:hover{
	
background-color: white;
color: #6cc7b5;


}

.first_container {

	display: flex;
	flex-direction: column;
	background-color:  #6cc7b5;


	justify-content: center;
	align-items: center;

	width: 100%;
	height: 500px;
	

}


#page_description{

	    margin-top: 70px;

}






.home_buttons {display: flex;
	justify-content: space-around;


	margin-top: 100px;
}

.home_buttons form button{


	height: 100px;
    width:300px;
    background-color:#49535a;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
     font-weight: 800;



    
     border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); 
}

.second_container , .third_container , .fourth_container {

	display: flex;


	justify-content: space-around;

	align-items: center;

	padding: 20px;

	height: 300px;

	background-color: white;

		font-size: 20px;
	color: #6d6666;

	font-family: sans-serif;

}

.third_container {

	
}


#About_info {

	display: flex;
	flex-direction: column;
	width: 50%;

}

p.Title {

	font-size: 50px;
	line-height: 50px;
	color:#6d6666;

	font-family: sans-serif;

	margin-bottom: 60px;

	font-weight: bold;

}
 #logo img{

 	width: 60px;
 	height: 60px;
 	border-radius: 40%;
 }

 .page-footer{
 	padding-left:10px;

	width: 100vw;
    height: 300px;




background-color: #6d6666;

 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

color: white;
font-family: sans-serif;




 }


 #login{display: flex;
 	justify-content: center;
 	align-items: center;

 	margin:20px;
 width:300px;
height:100px;
background-color: white;

border-radius: 20px;
 }



 #login a{ 


color: #6cc7b5;
text-decoration: none;
font-family: sans-serif;
    font-size: 60px;
     font-weight: 800;


	

}
 #login a:hover{

 	background-color: transparent;
 }


 #page_description{


    width: 100vw; 
     height:100px;
    
    
    
}

#page_description  div{
        
  display: flex;
  justify-content: center;
   
    bottom: 10px; 
    line-height: 60px;
       
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 500;
   
     /* background: linear-gradient(darkviolet, red); */
    color: white;
    
   /* text-shadow: 12px 114px 118px rgba(0,0,0,0.05); */
 

}




 




</style>


 <script type="text/javascript">
  
  $(document).ready(function(){

      $("#page_description div:gt(0)").hide(); //first show only gt(0) greater than 0

setInterval(function() { 
  $("#page_description  div:first-child")
    .fadeOut(0) //gayab ho rha h
    .next() //next div
    .fadeIn(1000) // aarha h
    .end() // move pointer back to top
     .appendTo('#page_description'); //move to last
},  4000);

});
</script> 