

<div class ="supercontainer" >






<div class ="home_buttons">
<form>
    <button formaction="/users/sign_in">Sign In</button>
    <button formaction="/users/sign_up">Sign Up</button>
</form>
</div>
<div class ="homepage_about">
	<div>
	Book your Jampad slots Quickly	

	</div>
	

	<div>
	Collaborate with others	

	</div>
	

	<div>
		
    Get News about Music Events  

	</div>



</div>




</div>



<style type="text/css">



.supercontainer{

flex-direction: column;
	width: auto;
     height:500px;
    
    
}

.homepage_about{
	display: flex;
	flex-direction: row;
	align-content: center;
	


}
	
.homepage_about div{
	display: flex;
	justify-content: center;
	width: 350px;
	padding-top:50px; 
	padding-right: 20px;
	padding-left: 20PX;

    bottom: 10px; 
    line-height: 50px;
       
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;

   
     /* background: linear-gradient(darkviolet, red); */
       background: linear-gradient(#1ab696 ,#501c77);
  -webkit-background-clip: text; /* browser specific property */
  -webkit-text-fill-color: transparent;





}

.home_buttons{


	padding-top: 30px;
}

.home_buttons form{
	display: flex;
justify-content: center;





}

.home_buttons form button{
	height: 100px;
    width:300px;
    background-color:#49535a;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
     font-weight: 800;
    
     border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); 
}





</style>