
 <div id ="photo">

  <% if current_user.profile_photo %>

<img   src="/uploads/<%= current_user.profile_photo %>" alt="<%= current_user.first_name %>"  >

<% else %>

<img src="<%= asset_path('default.png') %>">

<% end %>
</div>