
 <div id ="photo">

  <% if current_user.profile_photo %>

<img  id = "image" src="/uploads/<%= current_user.profile_photo %>" alt="<%= current_user.first_name %>"  >

<% else %>

<img src="default.png">

<% end %>

</div>