<div class ="people">
<div class = "loggedin">
<h3> Logged In User : </h3><hr> 
<%= current_user.first_name + current_user.last_name %> <br>

</div>

<div class = "otherusers">

<h3>Other Users:</h3><hr>

<% @users.each do |user| %>

<%= render 'users' , user: user %>

<% end %>
</div>


</div>