

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" id="close">×</span>
 

  <div id="form_show"> </div>
 
  
</div>



<%= link_to 'Partner With Us' , url_for(controller: :jampads , action: :partner_with_us ) , method: :get , remote: true %>

<br>


<%= render 'alljampads' %>


	



</style>