


.user_profile{display: flex;


flex-direction: column;

 justify-content: flex-end;

    /* margin-top: -100px;*/
    background-color: white;
/*    margin-left: 120px;
    margin-right: 120px;*/
    margin-top: 20px;
    margin-bottom: 20px;
      border : 1px solid white;

    padding: 30px;



   

    font-family: 'Open Sans Condensed', arial, sans;
   
   
    background: #FFFFFF;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);


}

#bio_start {

    display: flex;
  
    margin-top: 20px;
    margin-bottom: 20px;

}




.user_detail {     



    display: flex;
    flex-direction: column;
     
      width: 30%;
    
   
        border : 1px solid white;
  

    

    
    padding: 30px;



    

    font-family: 'Open Sans Condensed', arial, sans;
   
   
    background: #FFFFFF;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

   /* font: 16px Arial, Helvetica, sans-serif;
*/

}

.user_media {
 

   width: 60%;

    display: flex;

    flex-direction: column;

   
    margin-left: 30px;

}



#cover_photo {

    background-color: black;
    width: 100%;
    height: 100%;
}



.userdetail {
    
    border : 1px solid grey;
    display: flex;
    
    justify-content: center;
    padding-top: 130px;
    flex-direction: column;

    font-family: 'Open Sans Condensed', arial, sans;
   
    padding: 30px;
    background: #FFFFFF;
    margin: 50px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}








div.edit_info {

    display: flex;
    justify-content: center;
    
    color: grey;

    border-bottom: 1px;
    background-color: white;
    margin-bottom: 30px;



}


div.content{
    display:flex;
    padding-top: 30px;

}



div.people{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}
  
  div.loggedin{ display: flex; flex-direction: column;


    margin-bottom: 10px;

    padding: 20px;
    border-style: solid;
    border-width: 1px;
        border-radius: 10px;
        width:500px;
    }
  

  div.otherusers{
    flex-direction: column;

    display: flex;
     padding: 20px;
     border-style: solid;
    border-width: 1px;
    border-radius: 10px;
     width:500px;
    }

    #photo_show {
       
        background-image: url("default_cover.jpg");
        height: 300px;
        padding-top: 20px;

    }
   
   #photo_show img {

    position: relative;
    /*float: bottom;*/
    top: 100px;
    width: 200px;
    height: 200px;

    border-radius: 50px;
   
    
    border: 1px solid grey;
    

        cursor: pointer;
    transition: 0.3s;

    
}

#photo  img {

     top: 100px;
    width: 200px;
    height: 200px;

    border-radius: 50px;
   
    
    border: 1px solid grey;
    

        cursor: pointer;
    transition: 0.3s;


}

#Video {

    width: 100%;
    height: 350px;
    /*background-color: black;*/
   
}


#video {


  
  
  
opacity: 1;


  
  
  height: 350px ;

  min-width: 100%;
  
}


#name {


}





.upload_photo{

    align-items: center;
    


}

#userdetail_bio  , #userdetail_artist_type, #userdetail_musician  , #userdetail_fblink , #userdetail_ytlink , #userdetail_soundcloud

{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 600px;
    padding: 7px;
    border : 1px solid grey;

    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;

    margin-bottom: 20px;
    border-radius: 20px;
}

#userdetail_artist_type {
	height: 200px;

}

#search {

       padding: 7px;
    border : 1px solid grey;

    background: transparent;
    
    font: 16px Arial, Helvetica, sans-serif;
    height: 15px;

      
    border-radius: 20px;
}


#search_button {


       padding: 7px;
    border : 1px solid grey;

    width: 80px;

    color: black;

    background: transparent;
    
    font: 16px Arial, Helvetica, sans-serif;

    border-radius: 20px;


}


/*.user_profile {
    
    border : 1px solid white;
    display: flex;

    flex-direction: column;

    

    justify-content: center;

    padding: 30px;



    margin: 20px;

    font-family: 'Open Sans Condensed', arial, sans;
   
   
    background: #FFFFFF;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
*/
#user_name {
        /*font-family: times;*/
 color: black;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 40px;
 line-height: 44px;
 letter-spacing: 3px;
 font-weight: bold;
 margin-bottom: 6px;
}

#user_bio  {
   /*  font-family: Gill Sans, Verdana;*/
 font-size: 13px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: bold;
 color: black;
  margin-bottom: 30px;
}

#user_description {

         /*font-family: Georgia, Serif;*/
 font-size: 13px;
 line-height: 14px;

 letter-spacing: 0.5px;
 
 color: black;
  margin-bottom: 6px;
  
      font-weight: 500;
    font-style: italic;
    
    font-family: -webkit-pictograph;
    font-variant: normal;
    -webkit-font-smoothing: auto;

 }

 .links {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;

 }





 .links img {
    height: 40px;

 }

 .update {
    display: flex;
    justify-content: flex-end;


 }

 #list li a  {
    color: black;
    text-decoration: none;
 }

  #list li a:hover {
    text-decoration: underline;
    background-color: transparent;
 }

 




 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: auto;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(128,128,128,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-top: 50px; 
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-weight: bold;
    font-size: 20px;
}

/* Add Animation */
.modal-content, #caption{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.follow_user {
  
  background-color: white;
  width: 50%;
 display: flex;
 flex-direction: column;
 margin: auto;



}


.follow_user header span {



        font-family: monospace;
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
    color: blanchedalmond;
        


}
.follow_user_show {

    border-bottom: 1px solid grey;

    padding: 10px;

    margin: 10px;
}

.follow_user_show > div {

    display: flex;
    flex-direction: column;
}

.follow_user_show img {

    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.follow_button {

    float: right;
}




